.gradient-custom {
    /* fallback for old browsers */
    background: #eee;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(140, 187, 206), rgb(28, 179, 199));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(76, 97, 194), rgb(111, 151, 45))
    }

    /* .con{
        width: 100px;
        display: flex;
    } */