<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://images.pexels.com/photos/3864682/pexels-photo-3864682.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
        height: 400px;
     background-size: cover;
     "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">log in</h2>
          <form  [formGroup] ="loginform"   (submit)="login()">
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3"  formControlName="username" class="form-control" placeholder=" Enter Your Username" />
              <label class="form-label" for="form3Example3" ></label>
            </div> 

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" formControlName="password" class="form-control"   placeholder="Enter password"/>
              <label class="form-label" for="form3Example4"></label>
            </div>

            

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              submit
            </button>

            <!-- Register buttons -->
            <div class="text-center">

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->