<main>

  
    <div class="container marketing">
  
      
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <div class="col-md-5 order-md-1">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.cuANn7PBVfGH_OE5qSQtSAHaE7?w=267&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
                  </div>
            </div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="card" style="width: 18rem;">
                <img src="https://th.bing.com/th/id/OIP.mjWg5GQn416qHfviwP3LGAHaEK?w=331&h=186&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
              </div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <div class="col-md-5 order-md-1">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.t_PWfxLyM2-Mjw8Uq6lM7AHaE8?w=276&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
                  </div>
            </div>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 2017–2022 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </main>
