<div class="vv">
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>user_name</th>
                <th>item_name</th>
                <th>bill-id</th>
                <th>total-bill</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{userview.user_name}}</td>
                <td>{{userview.item_name}}</td>
                <td>{{userview.bill_id}}</td>
                <td>{{userview.total_bill}}</td>
                
            </tr>
        </tbody>
    </table>
    </div>
    
