<!-- <div class="cx">
<form  [formGroup]="this._state.userFrom" (submit)="updateuser()">
    <div class="mb-3" >
      <label for="username"></label>
      <input type="text" class="form-control" id="username"  placeholder="username" formControlName="user_name">
    </div>
    <div class="mb-3">
      <label for="itemname"></label>
      <input type="text" class="form-control"   placeholder="item_name" formControlName="item_name">
    </div>
    <div class="mb-3">
      <label  for="billid"></label>
      <input type="text" class="form-control"   placeholder="bill_id" formControlName="bill_id">
    </div>
    <div class="mb-3">
      <label for="totalbill"></label>
      <input type="text" class="form-control" placeholder="total_bill" formControlName="total_bill">
    </div>
    
    <button type="submit" class="btn btn-primary">edit</button>
  </form>
  </div> -->


  <section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">

            <div class="cx">
              <form  [formGroup]="this._state.userFrom" (submit)="updateuser()">
                  <div class="mb-3" >
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username"  placeholder="username" formControlName="user_name">
                  </div>
                  <div class="mb-3">
                    <label for="itemname"></label>
                    <input type="text" class="form-control"   placeholder="item_name" formControlName="item_name">
                  </div>
                  <div class="mb-3">
                    <label  for="billid"></label>
                    <input type="text" class="form-control"   placeholder="bill_id" formControlName="bill_id">
                  </div>
                  <div class="mb-3">
                    <label for="totalbill"></label>
                    <input type="text" class="form-control" placeholder="total_bill" formControlName="total_bill">
                  </div>
                  <div class="container">
                  <button type="submit" class="btn btn-outline-success">edit</button>
                  </div>
                  </form>
                
                </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>